.btn {
    text-transform: uppercase;
    @extend .d-inline-flex;
    @extend .align-items-center;

    &.btn-block {
        @extend .justify-content-center;
    }

    .icon {
        width: 17px;
        font-size: 1.1rem;
        line-height: 1;

        + span {
            margin-left: .5rem;
        }
    }

    &.btn-sm {
        letter-spacing: .05rem;

        .icon {
            width: 14px;
            font-size: .9rem;
        }
    }

    &.shadow,
    &.shadow-sm,
    &.shadow-lg {
        transition: box-shadow .2s linear;

        &:active {
            box-shadow: $btn-active-box-shadow !important;
        }
    }
}

.btn-circle {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 0;
}

.btn-toggle {
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-color: transparent;
    text-align: center;

    .icon {
        font-size: 1.3rem !important;
        margin: 0 auto;
    }
}

.btn {
    &:focus {
        box-shadow: 0 0 0 3px rgba($primary, .3);
    }
}

.btn-select {
    @extend .form-control;

    &[disabled] {
        cursor: not-allowed;
        &:hover {
            color: $gray-600;
        }
    }
}

.btn-select-active {
    color: $black;
}

.btn-placeholder-effect {
    color: $input-placeholder-color;
}

.autocomplete .dropdown-menu {
    max-height: 40vh;
    overflow: auto;

    .dropdown-item {
        white-space: normal;
    }

    .form-control {
        border-width: 1px;
    }
}

.dropdown.show {
    .btn-select {
        border-color: $primary;
        .icon {
            color: $primary;
        }
    }
}

.text-case-normal {
    text-transform: none;
}

.btn-link {
    font-weight: $font-weight-bold;
    &:hover,
    &:focus,
    &:active {
        background-color: rgba($primary, .1);
        text-decoration: none;
        color: darken($primary, 10%);
    }
}

[data-toggle="collapse"] {
    > .icon {
        transition: transform .25s linear;
    }
    &[aria-expanded="false"] >.icon {
        transform: rotate(90deg);
    }
}
