.card {
    @extend .shadow-sm;
}

.card-header {
    @extend .align-items-center;
    input[type="search"] {
        height: auto;
        border-width: 1px;
        border-color: $gray-200;
        background-color: $gray-200;
        max-width: 300px;

        &:focus {
            background-color: $white;
            border-color: $primary;
        }
    }
}

.card-border-top {
    border-top: 3px solid $primary;
}

.hover-highlight {
    &:hover {
        background-color: $gray-100;
    }
}
