.home-wrapper {
  background: $black url("/img/deer.jpg") center bottom no-repeat fixed;
  background-size: cover;
}

.home-inner {
  background-color: rgba($black, .9);
}

.home-content {
  @include media-breakpoint-up(lg) {
    height: calc(100vh - 64px);
    max-height: 700px;
  }
}
