.nav-pills,
.sidebar {
    .nav-link {
        color: $gray-700;
        cursor: pointer;
        @extend .d-flex;
        @extend .align-items-center;
        transition: background-color .2s linear, color .2s linear;
        margin-bottom: 1px;

        &:hover {
            background-color: $gray-200;
        }

        .icon {
            color: $gray-500;
            width: 24px;
            @extend .mr-2;
            font-size: 1.2rem;
        }

        .right-arrow {
            visibility: hidden;
        }

        &.active {
            background-color: rgba($primary, .1);

            &,
            .icon {
                color: darken($primary, 15%);
            }

            .right-arrow {
                visibility: visible;
                width: auto;
            }
        }
    }
}

.nav-custom-tabs {
    border-bottom: 2px solid $border-color;

    .nav-link {
        font-weight: $font-weight-bold;
        font-size: .8rem;
        letter-spacing: .085rem;
        text-transform: uppercase;
        color: $gray-600;
        border-bottom: 2px solid transparent;
        padding: 1rem 1.25rem;
        margin-bottom: -2px;

        @extend .d-flex;
        @extend .align-items-center;

        > .icon {
            font-size: 1rem;
            line-height: 1.2rem;
            margin-right: .5rem;
        }

        &.active {
            color: $primary;
            border-bottom-color: $primary;
        }
    }

    .show > .nav-link {
        color: darken($primary, 5%);
        border-bottom-color: $primary;
    }
}

