// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-transitions: false;
$enable-prefers-reduced-motion-media-query: true;
$enable-grid-classes: true;
$enable-pointer-cursor-for-buttons: true;
$enable-print-styles: true;
$enable-responsive-font-sizes: false;
$enable-validation-icons: true;
$enable-deprecation-messages: true;

$border-radius: .25rem;
$border-radius-lg: .3rem;
$border-radius-sm: .2rem;

// Color system
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #2EB07A;
$teal: #20c997;
$cyan: #17a2b8;

$primary: $green;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$body-bg: $gray-100;

$font-family-base: "Nunito", sans-serif;
$font-family-sans-serif: $font-family-base;

$font-weight-light: 200;
$font-weight-bold: 600;

$input-btn-focus-box-shadow: none;
$input-focus-border-color: $primary;
$input-box-shadow: none;

$input-btn-font-size: .85rem;
$btn-font-weight: $font-weight-bold;
$btn-box-shadow: none;
//$btn-padding-y-sm: .2rem;

//$box-shadow-sm: 0 .125rem .25rem rgba($black, .15);
//$box-shadow: 0 .5rem 1rem rgba($black, .15);
//$box-shadow-lg: 0 1rem 3rem rgba($black, .175);

$dropdown-border-color: $gray-300;
//$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .3);
$dropdown-border-radius: $border-radius-sm;
$dropdown-item-padding-y: .5rem;

$navbar-dark-color: $white;

$border-color: $gray-300;

// Sidebar
// =================================
$sidebar-width: 270px;

$card-border-width: 0;
$card-cap-bg: transparent;

$input-group-addon-bg: $white;
$input-border: 2px solid $border-color;

$table-hover-bg: $gray-100;

